body{
    background: #ddd6f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    margin: 0 ;
    padding: 0;
   
}

.container{
    width: 80%;
    padding: 10PX;
    margin: 0 auto ;
    text-align: center;
    border-radius: 10px;
    background: #faedf8;
    box-shadow: 0 0 6px 0 #ffffff;
    
}

label{
    
    font-size: 20px;
}   

input[type=number]{
    width: 50px;
}

button{
    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}